@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header__square-pic_animation{
    animation: rotation 20s linear infinite;
}