@import url(../common.blocks/header/header.css);
@import url(../common.blocks/logo/logo.css);
@import url(../common.blocks/two-columns/two-columns.css);
@import url(../common.blocks/techniques/techniques.css);
@import url(../common.blocks/section-title/section-title.css);
@import url(../common.blocks/section-subtitle/section-subtitle.css);
@import url(../common.blocks/cards/cards.css);
@import url(../common.blocks/video/video.css);
@import url(../common.blocks/oakley/oakley.css);
@import url(../common.blocks/feynman/feynman.css);
@import url(../common.blocks/digits/digits.css);
@import url(../common.blocks/table/table.css);
@import url(../common.blocks/khan/khan.css);
@import url(../common.blocks/kaufman/kaufman.css);
@import url(../common.blocks/resources/resources.css);
@import url(../common.blocks/footer/footer.css);

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}